@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*:focus {
  box-shadow: 0 0 0 2px theme(colors.blue.500);
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: theme(colors.slate.100);
}
